name: Deploy AKS

on:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest
    env:
      # This helps prevent the "AccountIsDisabled" error by forcing Azure AD auth
      ARM_USE_AZUREAD: "true"

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        # We add the -var-file flag so it finds your address_space variable
        run: terraform plan -var-file="aks.tfvars" -input=false

      - name: Terraform Apply
        # We add the -var-file flag here too so the apply knows the values
        run: terraform apply -var-file="aks.tfvars" -auto-approve -input=false