name: Deploy AKS

on:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest
    env:
      # Force Terraform to use Azure AD for backend auth
      ARM_USE_AZUREAD: "true"

    steps:
      # Checkout the repo
      - name: Checkout
        uses: actions/checkout@v3

      # Login to Azure using Service Principal
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # Setup Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      # Terraform Init with Azure AD backend auth
      - name: Terraform Init
        run: terraform init -reconfigure -backend-config="use_azuread_auth=true"

      - name: Terraform destroy
        run: terraform destroy --var-file="aks.tfvars" -auto-approve

    